body {
  background-image: url(./images/pexels-daniel-absi-952670.jpg);
  background-size:contain;
  background-color: rgb(127, 188, 210);
}

/* Colour Palette */
:root {
  --color1: rgb(156, 176, 177);
  --color2: rgb(65, 84, 89);
  --color3: rgb(204, 219, 219);
  --color4: rgb(255, 238, 175);

}

/* Top of page section */
#top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  margin: 10px;
  padding: 10px;
  /* border-color: red;
  border-style: dotted; */

}

.header {
  background-color: var(--color1);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  box-shadow: 10px 10px 5px var(--color2); 
  border-radius: 20px;
  /* border-color: rgb(225, 255, 238);
  border-style: outset;
  border-top-width: 0px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 0px;
  border-radius: 25px; */
}

/* Personal Logo standards */
img.logo {
  height: 127px;
  border-radius: 15px;
  border-color: var(--color1);
  border-style: solid;
  margin: 20px;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway/Raleway-VariableFont_wght.ttf);
}

h1 {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Raleway;
  font-size: 35px;
}

/* Main page centre section container */
#focus {
  width: auto;
  height: max-content;
  /* border-width: 5px;
  border-style: double;
  border-color: var(--color4); */
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
 
}
/* Navigation bar to the different pages */
nav {
  width: 150px;
  height: 400px;
  margin: 15px;
  background-color: var(--color1);
  /* opacity: 0.9; */
  box-shadow: 10px 10px 5px var(--color2); 
  border-radius: 20px;
  /* border-color: rgb(225, 255, 238);
  border-style: outset;
  border-top-width: 0px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 0px;
  border-radius: 20px; */
  font-family: Raleway;
  src: url(./Raleway/Raleway-VariableFont_wght.ttf);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* General button styling */
button {
    width: fit-content;
    height: 45px;
    background-color: var(--color3);
    border-radius: 5px;
    font-size: 15px;
    font-family: Raleway;
    src: url(./Raleway/Raleway-VariableFont_wght.ttf);
}
/* Style for hovering over a button */
button:hover {
    cursor: pointer;
    scale: 1.1;
}

main {
  height: fit-content;
  width: 75%;
  margin: 15px;
  background-color: var(--color1);
  /* opacity: 0.9; */
  box-shadow: 10px 10px 5px var(--color2); 
  border-radius: 20px;
  /* border-color: rgb(225, 255, 238);
  border-style: outset;
  border-top-width: 0px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 0px;
  border-radius: 20px; */
  text-align: center;
  font-family: Raleway;
  src: url(./Raleway/Raleway-VariableFont_wght.ttf);
}

p {
    font-size: 25px;
    font-family: Raleway;
    src: url(./Raleway/Raleway-VariableFont_wght.ttf);
    padding: 10px;
}

.headshot {
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color3);
  width: 65%;
  scale: 1;
}
/* Footer style for the bottom of the page */
footer {
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Raleway;
    src: url(./Raleway/Raleway-VariableFont_wght.ttf);
}
/* Div for holding the icons that link to external social media sites */
/* #linkicons {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} */

.icon {
  width: 60%;
  background-color: var(--color4);
  border-color: var(--color4);
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;

}

.icon:hover {
  cursor: pointer;
  scale: 1.1;
}

.iconcontainer {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

/* When screen is mobile sized */
@media screen and (max-width: 800px) {

  #focus {
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: max-content;
  }

/* Flips nav bar into a row above main */
  nav {
    width: 95%;
    height: 70px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
  }

  main {
    width: 95%;
    height: fit-content;
    margin: 10px;
  }
}
